.content-section{
  height: 100vh;
}

.banner-header-container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  h1, h2{
    margin: 3rem 5rem;
  }
}

.center-contained{
  display: flex;
  justify-content: center;
  align-items: center;
}